*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    
}

.container {
    background-image: url(./02.jpg);
    height: 100vh;
    width: 100%;
    position: relative;
    /* background: rgb(196, 222, 232); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 60%;
    line-height: 150%;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background: rgb(196, 222, 232); 
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid  rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px  rgba(10, 10, 10, 0.15);
}

.container nav {
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.container .logo::first-letter {
    color: blueviolet;
    font-size: 35px;
}

.container nav ul li {
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
}

.container nav ul li a:hover {
    color: blueviolet;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}
.content .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.content .section-1 h3 {
    font-size: 24px;
    color: violet;
    margin-bottom: 10px;
}

.content .section-1 p {
    font-size: 20px;
    color: rgb(6, 5, 5);
    margin-bottom: 50px;
}

.content .btn {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: violet;
    border: 3px solid violet;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.content .btn:hover{
    background-color: aliceblue;
    color: blueviolet;
}

.content .section-2 {
    width: 60%;
    position: relative;
}

.content .section-2::after {
    content: '';
    position: absolute;
    background-color: violet;
    border-radius: 100%;
    width: 40%;
    height: 80%;
    z-index: -10;
    top: 20%;
    left: 24%;
}

.content .section-2 img {
    width: 40%;
    height: 80%;
    border-radius: 100%;
}

.content .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}

.content .social a i {
font-size: 25px;
color: rgb(82, 153, 214);
transition: 0.3s;
}

.content .social i:hover {
    color: purple;
}

section {
    /* display: block; */
    display: inline-block;
    margin-left: 20px;
}

.menuoptions {
    background-image: url(./2.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 100vh;
    width: 100%;
    padding: 0 20px;
    position: relative;
    /* background: rgb(196, 222, 232); */
    background-size: cover;
    background-position: center;
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    color: aliceblue;

    /* start of the menu design  */


    /* end of menu design */
    
}

